#quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eda572ab;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
body {
    background-color: #367579;
}
#question {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="radio"] {
    margin-right: 10px;
}

#next-button {
    background-color: #4a698b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#next-button:hover {
    background-color: #0056b3;
}

#result-container {
    display: none;
    margin-top: 20px;
}

#score {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}
